
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <link href="~/Styles/Main.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <ul id="links">
            <li><a href="/">Home</a></li>
            <li><a href="/Home/About">About</a></li>
        </ul>
        <div class="text">
            <h1>Test</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu interdum nulla. Ut dictum posuere erat, in aliquam nulla. Suspendisse accumsan facilisis venenatis. Morbi congue dolor in pretium dapibus. Suspendisse in faucibus eros. Integer malesuada nisi non enim dictum placerat. Quisque ultrices maximus leo, sed consectetur nisi ultrices at. Phasellus vel elementum ex, sit amet fringilla ligula. Aliquam consectetur orci quis magna vulputate, sit amet lobortis magna varius. Phasellus non ante eros. Praesent felis ex, semper faucibus lorem at, iaculis aliquam odio. Mauris eu turpis eu nisl pellentesque venenatis in et nibh. Fusce interdum elementum suscipit. Mauris et elementum nibh. Nullam rutrum ante nec facilisis vulputate. Mauris ut consequat mi. Suspendisse in mauris augue. Donec ac quam tristique nisi rhoncus sodales. Donec vel feugiat felis, vel volutpat quam. Nunc accumsan metus non est imperdiet suscipit. Vivamus dolor nulla, auctor at urna et, cursus aliquam neque. Morbi in velit accumsan, gravida sapien eget, consectetur diam. Ut nec est et dolor facilisis volutpat. Morbi vel magna quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed et ex rhoncus, pellentesque tortor a, consectetur risus.
            </p>
            
        </div>
    </div>

</body>
</html>
