
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <link href="~/Styles/Main.css" rel="stylesheet" />
</head>
<body>
    <div class="top">
        <ul id="links">
            <li><a href="/">Home</a></li>
            <li><a href="/Home/About">About</a></li>
        </ul>
        <div class="main">
            <h1>Om mig</h1>
            <div id="maintext2">
                <h2>Utbildning</h2>
                <p>201308 - 201606 <b>Teknikprogrammet</b>, Östra Gymnasiet i Skogås</p>
                <ul>
                    <li>Informations och medieteknik som inriktning med kurser såsom programmering, entreprenörskap, webbutveckling och matte 1c, 2c ,3c.</li>
                    <li>Gymnasiearbete där jag och två andra skapade en hemsida från grunden.</li>
                </ul>
                <h2>Språkkunskaper</h2>
                <ul>
                    <li>Svenska - Modersmål</li>
                    <li>Engelska - Flytande</li>
                    <li>Japanska - Grundläggande</li>
                </ul>
                <h3>Kodspråk</h3>
                <ul>
                    <li>HTML5 - Goda Kunskaper</li>
                    <li>CSS3 - Goda Kunskaper</li>
                    <li>Java - Grundläggande Kunskaper</li>
                    <li>C# - Pågående utbildning</li>
                    <li>PHP - Grundläggande Kunskaper</li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>
