
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <link href="~/Styles/Main.css" rel="stylesheet" />
</head>
<body>
    <div id="top">
        <ul id="linklist">
            <li><p><a href="/">Home</a></p></li>
            <li><a href="/Home/About">About</a></li>
        </ul>
    </div>

    <div id="main">


    </div>

</body>
</html>
