
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Styles/Main.css" rel="stylesheet" />
</head>
<body>
    <div id="main">
        <ul id="links">
            <li><a href="/">Home</a></li>
            <li><a href="/Home/About">About</a></li>
        </ul>

        <h1>Test</h1>

        <p>TEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEstTEEEst</p>

    </div>

</body>
</html>
