
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Styles/Main.css" rel="stylesheet" />
</head>
<body>
    <div class="top">
        <ul id="links">
            <li><a href="/">Home</a></li>
            <li><a href="/Home/About">About</a></li>
        </ul>
        <div class="main">
            <h1>Daniel Lundgren</h1>
            <p>Daniel Lundgren, 19971118, Gökvägen 17, 13755 Tungelsta, 070-261 46 69, danne.l.97@hotmail.com</p>
            <br/>
            <p id="maintext">
                Nybliven teknik-student med erfarenhet av programmering och som i nuet fortsätter sin utbildning med ett fjärde år av programmering. Mitt mål är att i framtiden arbeta i en organisation där jag bemöter och hjälper nya människor som en del av jobbet.
            </p>

        </div>
    </div>

</body>
</html>
